
/* Begining of advanced designer */
/*PREFERENCES STYLE*/
/*  1 - Preferences style */
/*  1 - FONT FAMILY */
.form-all {
  font-family: "Inter", sans-serif;
}
/* 2 - FORM WIDTH */
.form-all {
  max-width: 752px;
}
/* 5 - FONT SIZE */
.form-all {
  font-size: 16px;
}
/* 5 - input bg color */
.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #ffffff;
}
/* 10 - LINE SPACING */
.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
}
.supernova .form-all,
.form-all {
  background-color: #ffffff;
}
.supernova {
  background-color: #ecedf3;
}
.supernova body {
  background-color: transparent;
}
.form-all,
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label,
span.FITB .qb-checkbox-label,
span.FITB .qb-radiobox-label,
span.FITB .form-radio label,
span.FITB .form-checkbox label,
[data-blotid][data-type=checkbox] [data-labelid],
[data-blotid][data-type=radiobox] [data-labelid],
span.FITB-inptCont[data-type=checkbox] label,
span.FITB-inptCont[data-type=radiobox] label,
.form-sub-label {
  color: #2e6da4;
}
.form-all {
  margin: 72px auto;
}
.form-all:before {
  content: none;
}
/*PREFERENCES STYLE*/
/* 17 - INPUT WIDTHS */
/*  20 - FORM PADDING */
.form-section {
  padding: 0px 38px;
}
/* Heights */
/* 11 - LINE PADDING */
/* LABEL STYLE */
/* 12 - ROUNDED INPUTS */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
.form-checkbox-item .editor-container div,
.form-radio-item .editor-container div {
  position: relative;
}
.form-checkbox-item .editor-container div:before,
.form-radio-item .editor-container div:before {
  display: inline-block;
  vertical-align: middle;
  left: 0;
  width: 20px;
  height: 20px;
}
.submit-button {
  font-size: 16px;
  font-weight: normal;
  font-family: inherit;
}
.submit-button {
  min-width: 180px;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  min-width: 128px;
}
li[data-type="control_image"] div {
  text-align: left;
}
li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}
.supernova {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.supernova {
  background-image: none;
}
#stage {
  background-image: none;
}
/* | */
.form-all {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
.header-large h1.form-header {
  font-size: 2em;
}
.header-large h2.form-header {
  font-size: 1.5em;
}
.header-large h3.form-header {
  font-size: 1.17em;
}
.header-large h1 + .form-subHeader {
  font-size: 1em;
}
.header-large h2 + .form-subHeader {
  font-size: .875em;
}
.header-large h3 + .form-subHeader {
  font-size: .75em;
}
.header-default h1.form-header {
  font-size: 2em;
}
.header-default h2.form-header {
  font-size: 1.5em;
}
.header-default h3.form-header {
  font-size: 1.17em;
}
.header-default h1 + .form-subHeader {
  font-size: 1em;
}
.header-default h2 + .form-subHeader {
  font-size: .875em;
}
.header-default h3 + .form-subHeader {
  font-size: .75em;
}
.header-small h1.form-header {
  font-size: 2em;
}
.header-small h2.form-header {
  font-size: 1.5em;
}
.header-small h3.form-header {
  font-size: 1.17em;
}
.header-small h1 + .form-subHeader {
  font-size: 1em;
}
.header-small h2 + .form-subHeader {
  font-size: .875em;
}
.header-small h3 + .form-subHeader {
  font-size: .75em;
}
.form-header-group {
  text-align: left;
}
.form-header-group {
  font-family: "false", sans-serif;
}
div.form-header-group.header-large,
div.form-header-group.hasImage {
  margin: 0px -38px;
}
div.form-header-group.header-large,
div.form-header-group.hasImage {
  padding: 40px 52px;
}
.form-header-group .form-header,
.form-header-group .form-subHeader {
  color: -1;
}
.form-collapse-table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(136, 148, 171, 0.12);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 1px 0 rgba(0,0,0,0.2);
}
.form-collapse-table .form-collapse-mid {
  text-shadow: none;
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-line-error .form-error-message {
  background-color: #f23a3c;
  clear: both;
  float: none;
}
.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #f23a3c;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #f23a3c;
  box-shadow: 0 0 3px #f23a3c;
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-line-active {
  background-color: rgba(46, 109, 164, 0.28);
}
/* 29 - FORM COLUMNS */

/*__INSPECT_SEPERATOR__*/
.form-all {
    border : 1px solid #98B7D2;
    box-shadow : none;
}

.form-header-group {
    border-color : #98B7D2;
}

.page-section li[data-type="control_head"]:not(:first-of-type) .form-header-group {
    border-top : 1px solid #98B7D2;
}

.form-textbox, .form-textarea, .form-dropdown {
    box-shadow : none;
    transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-textbox:focus,
.form-textarea:focus,
.form-dropdown:focus {
    border-color : #66afe9;
    outline : 0;
    box-shadow : 0 0 8px rgba(102, 175, 233, .6);
}

.form-header {
    color : #2e6da4;
}

.form-subHeader {
    color : #2e6da4;
}

.form-collapse-table {
    background-color : #ffffff;
    color : #2e6da4;
    box-shadow : none;
}

.form-checkbox + label:before,
.form-radio + label:before,
.form-radio + span:before,
.form-checkbox + span:before {
    border-color : #2E6DA4;
}

.form-matrix-headers, .form-matrix-column-headers {
    background : #ffffff;
}

